.pokedexContainer {
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.pokemonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Cores para tipos de Pokémon (versão mais clara) */
.typeNormal {
  background-color: #C6C6A7;
}

.typeFire {
  background-color: #F5AC78;
}

.typeWater {
  background-color: #9DB7F5;
}

.typeElectric {
  background-color: #FAE078;
}

.typeGrass {
  background-color: #A7DB8D;
}

.typeIce {
  background-color: #BCE6E6;
}

.typeFighting {
  background-color: #D67873;
}

.typePoison {
  background-color: #C183C1;
}

.typeGround {
  background-color: #EBD69D;
}

.typeFlying {
  background-color: #C6B7F5;
}

.typePsychic {
  background-color: #FA92B2;
}

.typeBug {
  background-color: #C6D16E;
}

.typeRock {
  background-color: #D1C17D;
}

.typeGhost {
  background-color: #A292BC;
}

.typeDragon {
  background-color: #A27DFA;
}

.typeDark {
  background-color: #A29288;
}

.typeSteel {
  background-color: #D1D1E0;
}

.typeFairy {
  background-color: #F4BDC9;
}

/* Cores para tipos de Pokémon (badge) */
.typeNormalBadge {
  background-color: #E0E0C2;
}

.typeFireBadge {
  background-color: #FFC9A1;
}

.typeWaterBadge {
  background-color: #C2D7FF;
}

.typeElectricBadge {
  background-color: #FFF0A8;
}

.typeGrassBadge {
  background-color: #C7E8B5;
}

.typeIceBadge {
  background-color: #D6F3F3;
}

.typeFightingBadge {
  background-color: #E8A8A3;
}

.typePoisonBadge {
  background-color: #D9A3D9;
}

.typeGroundBadge {
  background-color: #F5E8C2;
}

.typeFlyingBadge {
  background-color: #DBC7FF;
}

.typePsychicBadge {
  background-color: #FFB7D1;
}

.typeBugBadge {
  background-color: #D9E393;
}

.typeRockBadge {
  background-color: #E5D9A8;
}

.typeGhostBadge {
  background-color: #C2B3D9;
}

.typeDragonBadge {
  background-color: #C7A8FF;
}

.typeDarkBadge {
  background-color: #C2B3A8;
}

.typeSteelBadge {
  background-color: #E5E5F0;
}

.typeFairyBadge {
  background-color: #FFD6E0;
}

.pokemonCard {
  text-decoration: none;
  color: inherit;
  margin: 5px 0;
}

.cardContent {
  position: relative;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cardContent::before {
  content: '';
  background-image: url('/images/pokeballBackground.png');
  background-size: 60%; /* Reduz o tamanho da imagem */
  background-repeat: no-repeat;
  background-position: right; /* Posiciona no canto inferior direito */
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  margin: 10px; /* Adiciona uma margem interna */
}

.cardContent:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 50%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.pokemonImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.pokemonName {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #fff;
}

.typesContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.typeBadge {
  padding: 5px 15px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: white;
  text-transform: capitalize;
}