.pokedexContainer {
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.pokemonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  place-items: center;
}

@media (max-width: 600px) {
  .pokemonGrid {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Cores para tipos de Pokémon (versão mais clara) */
.typeNormal {
  background-color: #c6c6a7;
}

.typeFire {
  background-color: #f5ac78;
}

.typeWater {
  background-color: #9db7f5;
}

.typeElectric {
  background-color: #fae078;
}

.typeGrass {
  background-color: #a7db8d;
}

.typeIce {
  background-color: #bce6e6;
}

.typeFighting {
  background-color: #d67873;
}

.typePoison {
  background-color: #c183c1;
}

.typeGround {
  background-color: #ebd69d;
}

.typeFlying {
  background-color: #c6b7f5;
}

.typePsychic {
  background-color: #fa92b2;
}

.typeBug {
  background-color: #c6d16e;
}

.typeRock {
  background-color: #d1c17d;
}

.typeGhost {
  background-color: #a292bc;
}

.typeDragon {
  background-color: #a27dfa;
}

.typeDark {
  background-color: #a29288;
}

.typeSteel {
  background-color: #d1d1e0;
}

.typeFairy {
  background-color: #f4bdc9;
}

/* Cores para tipos de Pokémon (badge) */
.typeNormalBadge {
  background-color: #e0e0c2;
}

.typeFireBadge {
  background-color: #ffc9a1;
}

.typeWaterBadge {
  background-color: #c2d7ff;
}

.typeElectricBadge {
  background-color: #fff0a8;
}

.typeGrassBadge {
  background-color: #c7e8b5;
}

.typeIceBadge {
  background-color: #d6f3f3;
}

.typeFightingBadge {
  background-color: #e8a8a3;
}

.typePoisonBadge {
  background-color: #d9a3d9;
}

.typeGroundBadge {
  background-color: #f5e8c2;
}

.typeFlyingBadge {
  background-color: #dbc7ff;
}

.typePsychicBadge {
  background-color: #ffb7d1;
}

.typeBugBadge {
  background-color: #d9e393;
}

.typeRockBadge {
  background-color: #e5d9a8;
}

.typeGhostBadge {
  background-color: #c2b3d9;
}

.typeDragonBadge {
  background-color: #c7a8ff;
}

.typeDarkBadge {
  background-color: #c2b3a8;
}

.typeSteelBadge {
  background-color: #e5e5f0;
}

.typeFairyBadge {
  background-color: #ffd6e0;
}

.pokemonCard {
  text-decoration: none;
  color: inherit;
  width: -webkit-fill-available;
}

@media (max-width: 600px) {
  .pokemonCard {
    max-width: 162px;
  }
}


.cardContent {
  position: relative;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  min-height: 130px;
}

.cardContent::before {
  content: "";
  background-image: url("/images/pokeballBackground.png");
  background-size: 60%; /* Reduz o tamanho da imagem */
  background-repeat: no-repeat;
  background-position: right; /* Posiciona no canto inferior direito */
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  margin: 10px; /* Adiciona uma margem interna */
}

.cardContent:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 50%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.pokemonImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .pokemonImage {
    width: 80px;
    height: 80px;
    position: relative;
    top: 25px;
  }
}

.pokemonName {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #fff;
}

.typesContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  width: fit-content;
}

.typeBadge {
  padding: 5px 15px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: white;
  text-transform: capitalize;
}
